* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, monospace;
}

html,
body {
    width: 100%;
    height: 100%;
}

.bubbleContainer {
    width: 100%;
    height: 100%;
    background: #87eaad;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #24d367;
    width: 70%;
    height: 70vh;
    border-radius: 8px;
    overflow: hidden;
    display: none;
}

.topContainer {
    width: 100%;
    height: 80px;
    background-color: #057430;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.miniContainer {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.miniContainer h4 {
    font-size: 20px;
    font-weight: 550;
    color: #ffff;
    margin-right: 4px;
}

.miniContainer #targetDiv {
    width: 30px;
    height: 30px;
    color: rgb(72, 50, 23);
    background-color: rgb(211, 230, 247);
    font-size: 18px;
    font-weight: 550;
    text-align: center;
    align-content: center;
    border-radius: 2px;
    padding-right: 2px;
}

.bottomContainer {
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
}

#numberDiv {
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
    margin: 10px;
    background: #ffff;
    color: black;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    cursor: pointer;
}

/* game start div style */
.Gstart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(250px, 90%);
    height: min(150px, 100%);
    background-color: rgb(14, 9, 76);
    border-radius: 15px;
    border: none;
    outline: none;
    display: block;
}

.Gstart h2 {
    text-align: center;
    padding: 10px 14px;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 550;
    color: aliceblue;
}

.Gstart button {
    padding: 10px 12px;
    border-radius: 12px;
    border: none;
    outline: none;
    background-color: rgb(54, 54, 241);
    color: #ffff;
    font-size: 13px;
    font-weight: 545;
    position: absolute;
    bottom: 20px;
    left: 30%;
    cursor: pointer;
}

.Gstart span {
    font-size: 25px;
    margin-left: 85px;
}

/* score div */

.Score {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(250px, 90%);
    height: min(150px, 100%);
    background-color: rgb(10, 90, 14);
    border-radius: 15px;
    border: none;
    outline: none;
    display: none;
}

.Score h2{
    text-align: center;
    padding: 10px 14px;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 550;
    color: aliceblue;
}

.Score button {
    padding: 10px 10px;
    border-radius: 12px;
    border: none;
    outline: none;
    background-color: rgb(54, 54, 241);
    color: #ffff;
    font-size: 16px;
    font-weight: 550;
    position: absolute;
    bottom: 20px;
    left: 25%;
    cursor: pointer;
}

.Score p {
    font-size: 18px;
    margin-left: 40%;
    margin-top: 8px;
    font-weight: 550;
    color: #ffff;
}